.main-content {
	min-height: 900px;
	height: auto;
}

.main-content .title h3 {
    font-size: 25px;
}

#tabs {
    margin-top: 20px;
}
#tabs .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#tabs nav {
	width: 90%;
	margin: auto;
}

#tabs .nav-tabs ul {
    background-color: #fff;
    box-shadow: 1px 1px 10px #ccc;
}

#tabs .row .col-xs-12 {
    padding-left: 0;
    /*padding-right: 0;*/
}

#tabs .container {
	/*padding-right: 0;*/
}

#tab1 .container {
	/*padding-right: 0;*/
}

#tab1 .row .btn1 {
	width: 270px;
	margin-top: 20px;
	border: 0;
	text-align: left;
}

#tab1 .row .btn1 button {
	border-radius: 5px;
	color: #ff0101;
	padding-top: 8px; 
	padding-bottom: 8px; 
}

#tab1 .row .btn1 .btn-primary {
    box-shadow: 1px 1px 15px #ccc;
}

#tab1 .row .btn1 .btn-primary:hover {
    color: #ff0101 !important;
	background-color: #fff !important; 
}

#tab1 .row .btn1 .btn-primary:focus {
    color: #ff0101 !important;
	background-color: #fff !important; 
}


#tab1 .table{
	background: white;
	width: 100%;
	margin:auto;
	table-layout: fixed;
	border-radius: 15px;
	word-wrap: break-word;
	margin-bottom: 10px;
}
#tab1 .table thead{
    background:#808080;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#tab1 .table thead tr:first-child th:first-child{
    border-top-left-radius:15px;
}

#tab1 .table thead tr:first-child th:last-child{
    border-top-right-radius: 15px;
}

#tab1 .table thead tr th{
    height: 50px;
    width: 130px;
    font-size: 14px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}
#tab1 .table-responsive{
	min-height: auto;
	padding-right: 10px;
	border:0;
	overflow: visible;
}
.table-responsive thead tr{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#tab1 .table tbody tr:last-child{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: black;
    text-align: center;
}

#tab1 .table td{
	padding:20px 11px;
	vertical-align: middle;
	height: 60px;
    padding:8px 8px 8px 8px;

}
#tab1 .table {
	box-shadow: 1px 1px 10px #c4c1c1;
}
#tab1 .table thead tr .W{
	width: 150px !important;
	text-align: left;
}

#tab1 .table tbody tr .W{
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 700;
}

#tab1 .table tbody tr .more{
	font-size: 25px;
	font-weight: 700;
}

.form-check-label{
   position: relative;
   display: inline !important;
   padding-left: 30px;
   font-size: 16px;
   font-weight: 600;
   margin-left: 15px;

}
.form-check-label:before{
   content: '';
   width: 20px;
   height: 23px;
   position: absolute;
   left: 0;
   background-size: 20px 45px;
   background-repeat: no-repeat;
   margin-right: 10px;
   background-position: 0px -23px;
   display: inline-block;
   background-image: url('../img/check.png');
   font-size: 14px;
   font-weight: 400;
}
.form-check-label.active:before{
   background-position:0px 0px;
   color: #ff0101;
}

#tab1 .total-details .row .col-md-6 , #tab1 .total-details .row .col-md-6 .col-md-2  {
	padding-right: 0;
}


#tab1 .total-details .cstm {
	color: #80808096;
	text-align: left;
	/*margin-right: 100px;*/
}

#tab1 .total-details .cstm1 {
	color: #000;
	text-align: right;
	/*margin-right: 0px;*/
}

#tab1 .total-details .cstm h4 , #tab1 .total-details .cstm1 h4{
	font-size: 14px ;
	margin-top: 20px;
	text-transform: uppercase;
}

#tab1 .total-details .row .col-md-6 .action-button {
	margin-top: 70px;
	width: 98%;
}

#tab1 .total-details .row .col-md-6 .prev {
	background-color: #fff;
	color: #ff0101;
	border: 0;

}

#tab1 .total-details .row .col-md-6 .prev , #tab1 .total-details .row .col-md-6 .next  {
	font-size: 15px;
	box-shadow: 1px 1px 5px #ccc;
}

#tab1 .total-details .row .col-sm-12 {
	text-align: center;
}

#tab1 .total-details .row .col-xs-12 {
	text-align: left;
}

@media (max-width: 799px){
.main-content {
    margin-left: 0px;
}
}

@media (max-width: 835px){
	#tabs .nav-tabs ul li.nav-item {
	    font-size: 9.5px;
	}
}

@media (min-width: 836px) and (max-width: 1001px) {
	#tabs .nav-tabs ul li.nav-item {
    	font-size: 10.5px;
	}
}

@media (min-width: 1002px){
	#tabs .nav-tabs ul li.nav-item {
	    font-size: 13px;
	}
}

@media (max-width: 1180px){
	#tabs .row .col-xs-12 {
	    padding-right: 0;
	}

	#tabs .container {
		padding-right: 0;
	}

	#tab1 .container {
		padding-right: 0;
		
	}
}

@media (max-width: 365px){
	 #tab1 .total-details .cstm h4 {
	 	font-size: 11.5px;
	 }
}

@media (max-width: 599px){
	#tab1 .total-details .cstm1 , #tab1 .total-details .cstm{
    	padding-right: 40px !important;
    	text-align: left;
	}

	#tab1 .total-details .row .col-md-6 .next {
		margin-top: 10px;

	}

	#tab1 .total-details .resp{ 
		height: 23px;
	}
}

