#howItWork , #help{
	background: url(../img/Ellipse.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 870px -500px;
    text-align: center;
}
#howItWork .step{
	margin: 20px 0;
	overflow: hidden;
	width: 100%;
}
#howItWork .col-md-6 .info{
	text-align: left;
	width: 90%;
}
#howItWork .col-md-6 .info h2{
	color: #ff0101
}
#howItWork .col-md-6 .info p{
	font-family: Lato-Semibold;
	font-size: 16px;
	text-align: justify;
	width: 90%;
	margin-bottom: 100px;
}
/*#howItWork .col-md-7.info:after{
	content: '1';
	font-size: 40px;
	color: red;
	position: absolute;
	right: 0;
	top: 0
}*/
#howItWork .col-md-6 .info:before{
	content: '';
	width:4px;
	background: #808080;
	bottom:0;
	right: 10px;
	top: 100px;
	position: absolute;
}
.number {
	color: red;
	font-size: 40px;
	height: 100%;
	position: absolute;
	top:13px;
	right: 0;
	font-family: Lato-Bold

}
.done h1{
	color: #ff0101;
	font-family: Lato-Bold;
	font-size: 70px;
	margin-top: 30px;
}
.done img{
	width: 310px;
	margin-top: 20px;
}
#signup h2{
	margin-top: 0;
}
#signup{
	margin-top: 60px;
}
#signup button{
	width: 270px;
	border-radius: 50px;
	color: #1a3540;
	background: white;
	height: 65px;
	border:0;
	margin: 10px 0;
}
@media(max-width: 767px){
	.number{
		background: red;
	    color: white;
	    font-size: 28px;
	    text-align: center;
	    border-radius: 100%;
	    height: 40px;
	    width: 40px;
	    position: absolute;
	    top: 20px;
	    right: auto;
	    left: 14px;
	    font-family: Lato-Bold;
	}
	#howItWork .col-md-6 .info{
		float: right;
		padding-left: 20px;
	}
	#howItWork img{
		width: 90%;
		margin:auto;
	}
}