
.main-content {
	padding-bottom: 130px;
}

.set-content .title {
	padding-left: 0;
}

.set-content .title h2 {
	font-size: 30px;
	font-weight: 700;
}

.notifications {
	height: 500px;
	width: 95%;
	overflow-y: auto;

}

.notifications .notifications-ul {
	list-style: none;
	padding-left: 0;
	/*width: 95%;*/
}

.notifications .notifications-ul li:first-child{
	border-top-right-radius: 5px;
	border-top: 1px solid #cccccc50;
}

.notifications .notifications-ul li:last-child{
	border-bottom-right-radius: 5px;
}

.notifications .notifications-ul li{
	background-color: #ff010123;
	border-bottom: 1px solid #cccccc50;
	min-height: 50px;
	height: auto;
	padding-top: 15px;
	padding-bottom: 10px;
	border-left: 5px solid #ff010160;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.notifications .notifications-ul li a{
	font-size: 14px;
	font-size: 600;
	color: #00000090;
	text-decoration: none;
}

.notifications .notifications-ul li.read{
	background-color: #cccccc50;
	border-bottom: 1px solid #cccccc50;
	border-left: 5px solid #aaa;
}

.notifications::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: #cccccc30;
}

.notifications::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
	border-radius: 3px;
}

.notifications::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #ccc;
}
