
.row {
	margin: 0;
}

.container {
	padding-left: 0;
}

.main-content {
	padding-left: 0;
}



.main-content .contract-notification {
	margin-top: 50px;
	margin-left: 0px;
}

.contract-notification{
	overflow: hidden;
	padding-bottom: 30px;
}
.contract-notification .col-md-4 .info {
	background: #fefefe;
	color: #25395a;
	height: 70px;
	width: 100%;
	border-radius:5px;
	box-shadow: 1px 1px 5px lightgray;
	display: flex;
	align-items: center;
	margin:10px 0;
	position: relative;
}

.contract-notification .col-md-4 .info:hover {
	background: #ff0101;
	color: #fff;
}

.contract-notification .col-md-4 .info:hover span{
	background: #fff;
	color: #25395a;
}

.contract-notification .col-md-4 a {
	text-decoration: none;
}

.contract-notification .col-md-4 .info p{
	float: left;
	width: 76%;
	padding:0px 10px 0;
	text-align: center;
	margin:0;
	font-size: 16px;
	font-weight: 700;
}
.contract-notification .col-md-4 .info span{
	float: right;
    background: #ff0101;
    color: white;
    width: 60px;
    height: 100%;
	box-shadow: 0px 0px 5px lightgray;
    padding:25px 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 0;
    text-align: center;
}

.divs {
	margin-left: 15px;
	height: 700px;
	overflow: auto;
	
}

.divs .col-md-12 {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-bottom: 20px ; 
	border-radius: 5px;
}

.divs .col-md-12 .p-names h1 {
	font-size: 50px;
	font-weight: 700;
	margin-right: 10px;
	border-left: 4px solid #ff010180;
	padding-left: 3px;
	border-radius: 7px;
}

.divs .col-md-12 .p-names span {
	background-color: #ff010125;
	border-radius: 5px;
	padding: 3px 5px 4px 5px;
	font-size: 13px;
	font-weight: 700;
	position: relative;
    bottom: 12px; 
    margin-right: 5px;
}

.divs .col-md-12 .p-names p {
	font-size: 14px;
	letter-spacing: 4px;
	position: relative;
    bottom: 12px; 
}

.divs .col-md-12 .p-value {
	margin-top: 25px;
}

.divs .col-md-12 .p-value h4 {
	font-size: 18px;
	font-weight: 700;
}

.divs .col-md-12 .p-value span {
	font-size: 16px;
	color: #ff0101;
}

.divs .col-md-12 .mid-section {
	margin-top: 20px;
}

.divs .col-md-12 .mid-section .package-imgs .lg-img img {
	width: 220px;
	border: 1px solid #ccc;
}

.divs .col-md-12 .mid-section .package-imgs .sm-img img {
	margin-top: 5px;
	width: 50px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.divs .col-md-12 .mid-section .package-info {
	margin-left: 20px;
}

.package-info table tr td {
	/*border: 1px solid #000;*/
	width: 110px;
}