

.tables .table tbody tr.H{
    background:#808080;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.tables .table tbody tr.H:first-child th:first-child{
    border-top-left-radius:15px;
}

.tables .table tbody tr.H:first-child th:last-child{
    border-top-right-radius: 15px;
}

.tables .table tbody tr.H th{
    height: 70px;
    width: 130px;
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    padding:8px 8px 8px 30px;
    vertical-align: middle;
}
.table-responsive tbody tr.H{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.tables .table tbody th.view-details {
    background: #cfcfcf;
    border-bottom-right-radius: 15px;
    padding: 0 !important;
}

.tables .table tbody tr.H th a{
    color: #fff;
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.tables .table{
    word-wrap: normal;
}

.form-check-label{
   position: relative;
   display: inline !important;
   padding-left: 24px;
}
.form-check-label:before{
   content: '';
   width: 20px;
   height: 23px;
   position: absolute;
   left: 0;
   background-size: 20px 45px;
   background-repeat: no-repeat;
   margin-right: 10px;
   background-position: 0px -23px;
   display: inline-block;
   background-image: url('../img/check.png');

}

.form-check-label.active:before{
   background-position:0px 0px;
}

.mrT {
    margin-top: 5px;
}
.mrT label{
    font-size: 12px;
    font-weight: 600;
}

label.mT {
    margin-top: 20px;
}

 .modal-header {
    border-bottom: 0;
}

@media (max-width: 599px){
    .mrT {
        margin-top: 10px;
    }
}