
.cards {
	padding-top: 20px;
}

.card {
    width: 100%;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 20px;
}


.card .card-header {
	background-color: #ff0101;
	color: #fff;
	padding: 15px 0 20px 40px;
	font-size: 28px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.card .card-body {
	background-color: #fff;
	color: #000;
	margin-top: -10px;
	padding: 20px 40px 30px 45px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	height: 315px;
}

.card .card-body .card-title strong{
	font-size:22px;

}

.card .card-text {
	color: #808080;
	font-size: 16px;
	
}


.card .card-body .mrT{
	margin-top: 30px;
}
.form-check-label{
   position: relative;
   display: inline !important;
   padding-left: 30px;
   font-size: 16px;
   font-weight: 600;
}
.form-check-label:before{
   content: '';
   width: 20px;
   height: 23px;
   position: absolute;
   left: 0;
   background-size: 20px 45px;
   background-repeat: no-repeat;
   margin-right: 10px;
   background-position: 0px -23px;
   display: inline-block;
   background-image: url('../img/check1.png');
   font-size: 14px;
   font-weight: 400;
}
.form-check-label.active:before{
   background-position:0px 0px;
   color: #ff0101;
}

.card .card-text2 {
	margin-top: 20px;
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.card .card-body p.text {
	color: #000;
	font-size: 16px;
	font-weight: 600;
	padding-top: 5px;
	text-align: center;
}

.card .card-body .btn-primary , .add-address .card-btn .btn-primary  {
	border-radius: 20px;
	border: 0;
	padding: 9px 35px;
	box-shadow: 1px 1px 10px #ccc;
}

.card .card-body .btn-primary:focus , .add-address .card-btn .btn-primary:focus {
	outline: none;
	background-color: #ff0101 !important;
	color: #fff !important;
}

.card .card-body .btn-primary:hover {
	outline: none;
	background-color: #ff0101 !important;
	color: #fff !important;
}


.card .card-body .card-btn {
	width: 100%;
	text-align: center;

}

.card .card-body .card-img {
	
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
}

.add-address {
	padding-top: 20px;
}

.add-address p {
	font-size: 13px;

}

.add-address h4 {
	padding: 10px 0 ;

}

@media (max-width:992px){
  .card {
   margin-bottom: 50px;
  }

  .row {
		border-left: 0;
		border-radius: 0;
		box-shadow: none;
		margin-right: 0;
		padding: 0;

	}

	.add-address {
		padding-left: 20px;
		padding-top: 0;
	}
}


