.card-img-top{
	width: 100%;
	object-fit: cover;
	height: 130px;
}

.container {
	width: 100%
}

.side-nav nav {
	background-color: #fff;
}

ul.dropdown-cart{
	min-width:250px;
}
ul.dropdown-cart li .item{
	display:block;
	padding:3px 10px;
	margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
	background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul.dropdown-cart li .item-left{
	float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
	float:left;
}
ul.dropdown-cart li .item-left span.item-info{
	margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
	display:block;
}
ul.dropdown-cart li .item-right{
	float:right;
}
ul.dropdown-cart li .item-right button{
	margin-top:14px;
}


.header{
	height: 90px ;
	background-color: #fff;
	/*	position: fixed;
    */}

.header-content {
	height: 100%;
	width: 100%;
	padding-left: 245px;
}

.search{
	margin:30px 0px;
}

.search-top input{
	width: 100%;
	border: 1px solid #25395a61;
	border-radius: 50px;
	padding-left: 50px;
	box-shadow: 1px 1px 10px grey;


}
.search-top input:focus{
	box-shadow: 1px 1px 10px grey;
}

.search  i{
	color: #c0c0c0;
	font-size: 20px;
}
.search a i:hover{
	color: #25395a
}

.search input{
	height: 35px;
	width: 100%;
	background: none;
	margin-left: -40px;
	border:0;
	border-radius: 50px;
}

.inline {
	display: inline-block;
}

.span{
	letter-spacing: .4px;
}

nav ul li a:hover {
	color: #ff0101;
}

.acc-balance {
	border-right: 1px solid #eef2f3;
}

.btn .btn-primary {
	background-color: #fff;
	box-shadow: 1px 1px 10px grey;
	color: #000;
	border: none;
	border-radius: 20px;
	margin-bottom: 40px;
}

.text {
	padding-top: 15px;
}
.main-UL {
	padding:0;
	margin-top: 30px;
}
.main-UL ul , .main-UL a {
	padding-left: 0;
	list-style: none;
	float: left;
}

.main-UL  a {
	float: left;

}

.main-UL ul li , .main-UL a{
	display: inline-block;
	padding: 0 19px;
	color: #eef2f3;
	font-size: 25px;
}
.main-UL ul li:hover , .main-UL a:hover{
	color: #ff0101;
	font-size: 25px;
}

.main-UL ul li i.active , .main-UL a i.active{
	color: #ff0101 !important;
}

.address {
	height: 100%;
	background-color: #eef2f3;
	padding: 20px;
}

.btn1 .btn-primary {
	background-color: #fff;
	box-shadow: 0px 0px 2px grey;
	color: #000;
	border: none;
	border-radius: 20px;
	margin-bottom: 40px;
	width: 90%;
}

div#simple-account-dropdown
{
	position: relative;
	font-size: 25px;
	color: #eef2f3;
}

div#simple-account-dropdown > .account
{
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition: 0.1s ease-in;
}



div#simple-account-dropdown > .account:active
{

	overflow: hidden;
}
div#simple-account-dropdown2 > .account:active,
{
	overflow: hidden;
}


div#simple-account-dropdown > .account > i:hover {
	color: #ff0101;
}
div#simple-account-dropdown > .account > i.active {
	color: #ff0101 !important;
}

div#simple-account-dropdown > .dropdown
{
	position: absolute;
	width: 300px;
	top: 50px;
	left: -100%;
	margin-left: -170px;
	z-index: 109;
}
div#simple-account-dropdown > .dropdown::before
{
	content: '';
	display: block;
	position: absolute;
	border: 10px solid #80808096;
	border-left: 10px solid rgba(255, 255, 255, 0);
	border-right: 10px solid rgba(255, 255, 255, 0);
	border-top: 0px solid rgba(255, 255, 255, 0);
	top: -9px;
	margin-left: -10px;
}
div#simple-account-dropdown .fa-sort-down{
	color: white;
	font-size: 20px;
}
div#simple-account-dropdown > .dropdown::before {
	right: 82px;
}
div#simple-account-dropdown > .dropdown > .scroll
{
	display: block;
	margin: 0; padding: 0;
	list-style: none;
	border:1px solid #80808096;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0px 0px 5px gray;
	height: 300px;
	overflow-y: auto;
	background: white;

}

.scroll::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #ff010115;
}

.scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ccc;
}



div#simple-account-dropdown > .dropdown > ul > li {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	background-color: #ff010123;
	display: inline-flex;
}
div#simple-account-dropdown > .dropdown > ul > li.read {
	background-color: #cccccc50 !important;
}

div#simple-account-dropdown > .dropdown > ul > li.viewAll {
	background-color: #cccccc50 !important;
}
div#simple-account-dropdown > .dropdown > ul > li.viewAll a {
	text-align: center;
	color: #e16565c9;
	font-size: 14px;
}
/*div#simple-account-dropdown > .dropdown > ul > li.noti {
	background-color: #cccccc50 !important;
}
div#simple-account-dropdown > .dropdown > ul > li.noti a {
	text-align: left;
	color: #e16565c9;
	font-size: 14px;
    padding-left: 5px;

}*/
div#simple-account-dropdown > .dropdown > ul > li.noti a:hover {
	padding-left: 5px;

}

div#simple-account-dropdown > .dropdown > ul > li a
{
	width: 100%;
	color: #808080;
	text-align: left;
	text-align: justify;
	display: block;
	padding: 15px 20px;
	font-size: 13px;
	border-top: 1px solid #cccccc60;
	border-bottom: 1px solid #cccccc60;
}
div#simple-account-dropdown > .dropdown > ul > li a:hover
{
	margin: 0;
	padding: 15px 20px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}


div#simple-account-dropdown > .dropdown > ul > li a > img
{
	vertical-align: middle;
	margin-right: 10px;
}

div#simple-account-dropdown > .dropdown > ul > li:first-child a,
div#simple-account-dropdown2 > .dropdown > ul > li:first-child a
{
	border-top: none;
}

div#simple-account-dropdown > .dropdown > ul > li:last-child a
{
	border-bottom: none;
}

ul#simple-account-dropdown-freebie > li { float: left; margin-right: 20px; margin-bottom: 20px;}
ul#simple-account-dropdown-freebie > li:last-child { margin-right: 0; }
ul#simple-account-dropdown-freebie > li > span { margin-bottom: 10px; }
#gallery ul#simple-account-dropdown-freebie{
	float: right;
}




footer {
	background: #eef2f3;
	color: #999;
	padding-left: 70px;
}

footer .social ul li a {
	color: #111;
	width: 40px;
	display: inline-block;
	height: 40px;
	font-size: 17px;
	padding-top: 5px;
	text-align: center;
	border-radius: 100%;
	border: 3px double #000;
}

footer .social {
	direction: ltr;
	margin-top: 20px;

}

footer .col-md-3 img {
	width: 80px;
}

footer ul li a , footer h3 , footer ul li {
	color: #000;
}

footer p {
	color: #000;
	width: 90%;
}

.footer-btn .btn-primary{
	border-radius: 10px;
	width: 90%;
}

footer .col-md-3 {

	padding: 20px;
}

.main-content {
	background-color: #f4f8f9;
	padding-left: 70px;
	padding-bottom: 10px;
}

.main-content .title {
	margin-top: 50px;
	background-color: #f4f8f9;
	border-bottom: 0;
	padding: 10px 20px;
	color: #333;
}

.main-content .title h3{
	font-size: 30px;
	font-weight: 700;
}

.main-content .title p{
	font-size: 16px;
	font-weight: 400;
	width: 80%;
}

.card {
	width: 85%;
}

.card-text span {
	font-size: 11px;
}

.right {
	text-align: right;
	overflow: hidden;
}

.star-rating {
	padding-top: 8px;
	line-height:32px;
	font-size:23px;
	color: yellow;
	cursor: pointer;
}

.star-rating .fa-star{color: yellow;}

.bttn {
	border: 0;
	padding: 5px 15px;
}

.main-content .col-md-4 {

	margin: 20px 0;
}

.btn-primary:hover{
	background-color: #ff0101 !important;
	color: #fff !important;
	border: 0;
}

.btn-primary:active{
	background-color: #ff0101 !important;
	color: #000 !important;
	border: 0;
}

.btn-primary:focus {
	background-color: #fff !important;
	color: #000 !important;
	border: 0;
}

footer .container {
	width: 100%;
}

.help ul li a {
	font-size: 16px;
}

.load_more{
	overflow: hidden;
	text-align: center;
	width: 250px;
	margin: 50px auto;
	background: #ff0101;
	border-radius: 50px;
}
.load_more ul{
	padding:0;
	margin:0;
}
.load_more ul li{
	display: inline-block;
	padding:10px;

}
.load_more ul li a i{
	border:1px solid white;
	border-radius: 100%;
	padding:4px 8px;
	font-weight: bolder;
}
.load_more ul li a{
	display: inline-block;
	color: #fff;
	transition: all .2s;
}
.load_more ul li a:hover{
	color: #ccc
}
.load_more ul li a:hover i{
	border-color: #ccc
}


/* ============================= Modal ================================= */

/* ************************ Modal ************************* */

.modal.modal-dialog {
	margin-top: 50px;
}

.modal .modal-title {
	margin-top: 10px;
}

.modal-header {
	border-bottom: 0;
}

.modal-body , .modal-header {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-footer {
	border-top: 0;
}

.modal-header .close {
	margin-top: -27px;
}

.close {
	font-size: 25px;
}


.modal .form-control {
	border-radius: 5px;
}

.modal .form-group .input-group span {
	background-color: #808080;
	color: #fff;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.modal .form-group span i {
	font-size: 16px;
	color: #ff0101;
	padding-right: 5px;
}

.modal select {
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.modal .select {
	height: 40px;
	background-image:
			linear-gradient(45deg, transparent 50%, white 50%),
			linear-gradient(135deg, white 50%, transparent 50%),
			linear-gradient(to right, #808080, #808080);
	background-position:
			calc(100% - 23px) calc(.5em + 9px),
			calc(100% - 15px) calc(.5em + 9px),
			100% 0px;
	background-size:
			9px 8px,
			8px 8px,
			3.5em 4.5em;
	background-repeat: no-repeat;
}

.modal select option {
	font-size: 14px;
	color: #000;
}


@media (max-width: 1024px){
	.card .right {
		float: left;
	}

}
@media (min-width: 992px){
	.acc-balance .btn.inline {
		padding:2px;
	}

	.acc-balance {
		height: 100%;
	}




}
@media (max-width: 991.5px){
	.header{
		height: 150px;
	}
	.search{
		margin: 0;
	}
	.main-UL ul{
		padding:0;
	}
	.main-content{
		padding-top: 100px;
	}

	.btn .btn-primary {
		margin-bottom: 0;
		margin-top: -40px;
	}
	.acc-balance .btn.inline {
		padding:2px;
		margin-left: 45px;
	}
	.main-UL{
		float: right;
		margin-top: -5px;
	}
	.header{
		height: 150px;
	}
	.search{
		margin: 0;
		width: 60%;
	}
	.main-UL ul{
		padding:0;
	}
	.main-content{
		padding-top: 100px;
	}


}

@media (max-width: 799.5px){
	.header-content{
		padding-left: 95px
	}
	.card .right {
		float: none;
		margin-top: 15px;
	}

	.footer {
		padding-left: 0px;
	}

	footer .col-md-3 {
		padding: 10px;
	}

	.footer-btn .btn-primary {
		width: 100%;
		font-size: 12px;
	}
}

@media (max-width: 600px){
	.header-content .col-md-7{
		padding-right: 10px;
	}

}



@media (max-width: 599px){

	.side-nav ul {
		margin-top: 50px;
		border-top: 1px solid #cccccc50;
	}
	.none{
		display: none;
	}

	.main-content {
		padding-top: 150px;
		padding-left: 10px;
	}

	.header{
		height: 200px;
	}

	.header-content{
		padding:0;
		padding-top: 50px;
	}

	.search {
		width: 100%;
	}

	.acc-balance .btn.inline {
		margin-left: 90px;
	}

	.card {
		width: 85%;
		margin: auto;
	}

	footer {
		padding-left: 0;
	}
	footer ul {
		width: 100%;
	}


	.main-content .title p {
		font-size: 13px;
		text-align: justify;
	}

	.search {
		padding-right: 0;
	}
	div#simple-account-dropdown > .dropdown {
		left: -75px;
		margin-left: 0;
	}
	div#simple-account-dropdown > .dropdown::before {
		right: 205px;
	}
}

@media (max-width: 375px){
	.acc-balance .btn.inline {
		margin-left: 40px;
	}
	.search {
		padding-right: 0;
	}

}

@media (max-width: 320px){
	.acc-balance .btn.inline {
		margin-left: 15px;
	}
	.acc-balance {
		font-size: 13px;
		padding-right: 0;
	}
	.search {
		padding-right: 0;
	}

}
