
.main-content {
	padding-top: 80px;
	padding-left: 20px;

}

.main-content .title h3 {
	font-size: 25px;
}

.main-content .right-btns {
	margin-top: 70px;
}

.right-btns .col-md-6 {
	padding: 0 5px;
}

.main-content .title {
	padding:0;
	padding-top: 5px;
	padding-left: 5px;
}

.bttn  {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #ff0101;
	border-radius: 10px;
	padding: 10px 0;
	border: 0;
	box-shadow: 0px 1px 5px grey;
}

.top .btn-primary:active , .top .btn-primary:focus{
	background-color: #ff0101 !important;
	color: #fff !important;
}

.bttn1{
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 0;
	border: 0;
	box-shadow: 0px 1px 5px grey;
}

.bttn1:hover {
	color: #fff;
	background-color: #ff0101;

}


.table {
	margin-top: 0px;
	width: 98%;
	background-color: #fff;
	border: 1px solid #eef2f3;
}

.table h3 {
	font-size: 25px;
	font-weight: 700;
}

.table>tbody>tr>th,.table>tbody>tr>td{
	border-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.table tbody tr td , .table tbody tr th {
	padding-left: 30px;
	border: 0;
	color: #000;
}


.table tbody tr.gray td {
	font-size: 14px;
	font-weight: 400;
	color: #b2b2b2;
	padding-bottom: 5px;
}

.table .btn {
	margin:7px 0px;
	width: 100%;
	padding: 3px;
}

.table .va {
	vertical-align: bottom;
}

.table .red , .btn-primary:hover{
	background-color: #ff0101;
	color: #fff;
}

.tables {
	height: 650px;
	overflow: auto;
}

.top {
	margin-bottom: 50px;
}

/* ************************ Modal ************************* */

.modal.modal-dialog {
    margin-top: 50px;
}

.modal .modal-title {
    margin-top: 10px;
}

.modal-header {
	border-bottom: 0;
}

.modal-body , .modal-header {
	padding-left: 30px;
	padding-right: 30px; 
}

.modal-footer {
	border-top: 0;
}

.modal-header .close {
    margin-top: -27px;
}

.close {
	font-size: 25px;
}


.modal .form-control {
    border: 1px solid #eef2f3;
    border-radius: 5px;
}

.modal .form-group span {
	font-size: 12px;
	padding-top: 20px;
}

.modal .form-group span i {
	font-size: 16px;
	color: #ff0101;
	padding-right: 5px;
}

.modal select {
	width: 100%;
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.modal .select {
	height: 40px;
    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #808080, #808080);
  background-position:
    calc(100% - 23px) calc(.5em + 9px),
    calc(100% - 15px) calc(.5em + 9px),
    100% 0px;
  background-size:
    9px 8px,
    8px 8px,
    3.5em 4.5em;
  background-repeat: no-repeat;
}

.modal textarea {
	height: 90px !important;
}

.modal .m-btn .btn {
	padding-left: 30px;
	padding-right: 30px;
}

.modal .m-btn .btn-primary {
    margin-bottom: 10px;
}





@media (max-width: 768px){
	.row{
		margin-top: 30px;
	}
	a.btn {
		font-size: 12px;
	}
	
}

@media (max-width: 480px){
	.row{
		margin-top: 90px;
	}
	.bttn1 {
		margin-top: 10px;
	}
	a.btn {
		font-size: 14px;
	}
	.main-content .right-btns {
    	margin-top: 30px;
    	padding-left: 0;
	}
	.main-content .title {
	    padding-left: 5px;
	}
	
}