
/* first section */
.box1 {
	height: 200px;
	color: #fff;
	background-image: linear-gradient(#f77989, #ff1416);
	text-align: center;
}

.box1 h2 {
	margin: 0;
	padding-top: 50px;
}


/* second section */
#cards {
	background: url('../img/Ellipse.png');
	width: 100%;
	background-repeat: no-repeat;
    background-position: 870px -500px ;
    text-align: center;  
}

.general-card {
	background-color: #fff;
	width: 60%;
	position: relative;
	top: -80px;
	border-radius: 10px;
	box-shadow: 0px 5px 18px #a1a1a1;
    height: 780px !important;

}

.general-card:hover {
	border:1px solid #ff0101;

}

.card1 {
	    float: right;
}

.top {
	background-color: #f6f6f6;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.top h1, .top h3 {
	margin: 0;
}

.top h3 {
	padding-top: 30px;
	font-size: 30px;
	width: 200;
	margin: auto;
	position: relative;
}

.top h1 {
	color: #ff0101;
	font-size: 60px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 40px;
	position: relative;
	width: 200px;
	margin:auto;
}

h1 span , h1 sup {
	color: #b2b2b2;
	font-size: 28px;
	font-weight: 200px;
}

h1 sup {
	position: absolute;
	top: 40px;
	left: 0px;
}

.description{
	padding-right: 30px;
}

.description p {
	color: #808080;
	font-size: 13px;
	padding-top: 10px;
}

.description h3 {
	color: #808080;
	font-size: 25px;
}

.description ul {
	list-style: none;
	text-align: left;
	line-height: 35px;
	color: #000
}

.true i{
	color: #25ae88;
	font-size: 20px;
}

.false i {
	color: #d75a4a;
	font-size: 20px;
}

.false {
	color: #b2b2b2;
}

.padding {
	padding-top: 46px;
}

.sign {
	margin-top: 20px;
	margin-bottom: 30px;
}
div.sign button{
    background: #ff0101;
    color: #fff;
    border-radius: 40px;
    width: 70%;
    text-transform: uppercase;
    transition: all 1s;
    padding-top: 15px;
    padding-bottom: 15px;
}
div.sign button:hover{
    background: #ff01019c;
    color: #fff;
}

/*third section */
#options {
	margin-top: 50px;
	padding-bottom: 70px;
	background: url('../img/PG1.png');
	width: 100%;
	background-repeat: no-repeat;
    background-position: -360px 889px ;
}

.options-box{
	padding-top: 50px;
}

.option-title h3 {
	color: #808080;
}

.option-title h3 span{
	color: #ff1010;
}
.option-desc p {
	color: #33393b;
	text-align: justify;
}

.padding1 {
	padding-top: 127px;
}

.padding2 {
	padding-top: 70px;
}

.padding3 {
	padding-top: 35px;
}

/*
.option-img {
	width: 200px;
	height: 200px;
}

.option-img img{
	object-fit: cover;
}
*/

