
body{
    overflow-x: hidden;
}
.PaymentActive{
    color: white !important;
    outline: 0 !important;
    background-color: #ff0101 !important;
}
header .bottom {
    box-shadow: 1px 1px 30px #ccc;
}
.title h2 {
    color: #ff0101;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

nav p {
    color: #000;
    text-align: center;
    font-size: 16px;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 50px;
}


#tabs {
    text-align: center;
}


.general-card {
    top: 59px;
    height: auto !important;
}

.general-card:hover {
    border:1px solid #ff0101;

}

.cutome-btn {
    margin-top: 50px;
    width: 20%;
    position: relative;
    bottom: 70px;
    right: 150px;

}

.btn2 {
    bottom: 0px;
    left: -420px;
}


.form1{
    text-align: left;
}

.form1 label{
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: bold;
    margin:10px 0;
    display: block;
}

.form1 input , .form1 select {
    width: 100% !important;
    border-radius: 15px !important;
    height: 55px !important;
}

#tab2 .countrypicker , #tab2 .countrypicker button{
    width: 101% !important;
    margin:0 !important;
    margin-left: -2px !important ;
    height: 55px !important;
    border-radius: 12px !important;
}
#tab2 .countrypicker button{
    background-position: 12px 19px !important;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    max-height: 220px !important;
}
.bs-caret{
    background: #808080 !important;
    width: 45px !important;
    height: 100% !important;
    display: inline-block !important;
    right: 0px !important;
    position: absolute !important;
    top: 0 !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
    color: white !important;
    right: 16px !important;
    border-top: 10px dashed !important;
    border-top: 4px solid\9 !important;
    border-right: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
}

.row {
    margin: 0px;
}


/*inputs*/
#tabs input, #tabs textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#input:focus, #tabs textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#tabs .action-button {
    background: #ff0101;
    color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    transition: all 1s;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 200px;
    /*margin: 0 75px;*/
}
#tabs .container{
    width: 90%;
    padding:0;
}
#tabs .next2{
    position: absolute;
    left:50px;
    margin-top: 30px;
}

#tab1 .container .general-card{
    width: 90%;
    border:1px solid #ccc;
}
#tab1 .container .general-card:hover{
    border-color: #ff0101
}
#tab1 .sign-free , #tab1 .prem{
    margin-top: 50px;
}
#tabs .ex-date1{
    width: 70% !important;
    margin-right: 4%;
    display: inline-block;
}
#tabs .ex-date2{
    width: 24% !important;
    display: inline-block;
}
#tabs .sec-date{
    width: 40% !important;
}
#tabs .container-fluid{
    padding:10px;
}
#tabs .action-button:hover, #tabs .action-button:focus {
    background: #ff01019c;
    color: #fff;
}

#tabs .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#tabs .action-button-previous:hover, #tabs .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}
.buttons{
    text-align: center;
}
.buttons button{
    background-color: white;
    width: 180px;
    height: 180px;
    margin:20px;
    color: #808080;
    border:0;
    border-radius: 10px;
    font-family: Lato-Regular;
    font-size: 24px;
    box-shadow: 0px 0px 20px #808080;
    transition: all .5s;
}
.buttons button:hover , .buttons button:focus{
    color: white;
    outline: 0;
    background-color: #ff0101;
}
.buttons button i{
    display: block;
    font-size: 50px;
}



/* =========================== Tabs ============================== */

#tabs {
    margin-top: 50px;
}

#tabs .section-title {
    text-align: center;
    color: #ff0101;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs .nav-tabs {
    border-bottom: none;
}

#tabs .nav-tabs ul {
    list-style: none;
    margin-bottom: 30px;
    overflow: hidden;
    border:1px solid #e5e5e5;
    padding:0px 0px;
    counter-reset: step;
    border-radius: 35px;
    text-align: center;
    cursor: default;
}

#tabs .nav-tabs ul li.nav-item {
    list-style-type: none;
    color: #808080;
    text-transform: uppercase;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
    padding: 20px 0px;
}

#tabs .nav-tabs ul li.active {
    background: #ff1010;
    color: white;
}
#tabs .nav-tabs ul li.visited {
    background: #ff1010;
    color: white;
}

#tabs .nav-tabs ul li.border-right:after{
    content: '';
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1; /*put it behind the numbers*/
}

.tab2 {
    width: 98% !important ;
}


/* -------------------- tab4 ------------------------- */

.billing {
    margin-top: 50px;
}

#tab4 .row .leftSection , #tab4 .row .rightSection , #tab4 .row .summary {
    border: 2px solid #808080;
    border-radius: 20px;
    text-align: left;
    min-height: 201px;
    height: auto;
}

#tab4 .row .rightSection {
    margin-left:20px;
}


#tab4 .row .leftSection h3 ,
#tab4 .row .rightSection h3 ,
#tab4 .row .summary h3 {
    margin-top: -15px;
    background-color: #fff;
    width: 75%;
    padding-left: 8%;
    padding-right: 5%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #ff0101;
}

#tab4 .row .leftSection h4 ,  #tab4 .row .leftSection p
, #tab4 .row .rightSection h4 ,  #tab4 .row .rightSection p
, #tab4 .row .summary h4 ,  #tab4 .row .summary p {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

#tab4 .row .leftSection p , #tab4 .row .rightSection p
, #tab4 .row .summary p {

    line-height: 22px;

}

#tab4 .inner-text p {
    font-size: 14px ;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
}

#tab4 .row .summary {
    margin-top: 40px;
    height: 250px;
}

#tab4 .row .summary h3 {
    width:35%;
}

#tab4 .row .summary h4  {
    display: inline-block;
}
#tab4 .row .summary span {
    float: right;
    margin-top: 5px;
    font-size: 16px;
}

#tab4 .row .summary .col-md-8 {

    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

#tab4 .row .summary .col-md-8 h2 {

    margin-top: 50px;
}

#tab4 .row .summary .col-md-8 .bs {

    font-size: 30px;
    font-weight: 700;
    margin-top: -50px;

}

#tab4 .row .summary .Total {

    border-bottom: 0;

}

#tab4 .mrT{
    text-align: left;
    margin-top: 20px;
}


@media(max-width:800px){
    #tab1 .container .general-card{
        width: 100%;
    }
    #tab1 .container .col-xs-12{
        float: left;
    }
    #nav-ul li{
        width: 50%;
        font-size: 10.5px;

    }
    #nav-ul li.border-right:nth-child(2):after{
        content: '';
        width:0 ;
    }
    #nav-ul li.border-right:nth-child(2){
        border-bottom:1.5px solid #e5e5e5;
    }
    #nav-ul li.border-right.active:nth-child(2){
        border-bottom:0
    }
    .general-card{
        height: auto !important;
        padding-bottom: 100px;
    }
    #tabs .sec-date{
        width: 100% !important;
    }

    #tabs .nav-tabs ul li.nav-item {
        font-size: 12px;
    }
}
@media(max-width: 680px){
    #tab1 .container{
        padding:0;
    }
    #tab1 .description{
        padding-right: 10px;
    }
    #tab1 .description ul{
        padding:10px;
    }

    #tabs .nav-tabs ul li.nav-item {
        font-size: 12px;
        width: 50%;
    }

    #tabs .nav-tabs .nav-ul #nav-tab1 , #tabs .nav-tabs .nav-ul #nav-tab2{
        border-bottom: 1px solid #e5e5e5;
    }

    #tab1 .container .col-xs-12{
        padding: 0;
    }

}

@media(max-width: 450px){

    #tab4 .row .rightSection {
        margin-left:0px;
        margin-top: 40px;
    }

    #tab4 .row .summary h3 {
        width: 75%;
    }

    #tab4 .row .leftSection h3 ,
    #tab4 .row .rightSection h3 ,
    #tab4 .row .summary h3 {
        width: 90%;
    }

    #tab4 .row .summary .Total {
        margin-bottom: 30px;

    }
    #tab4 .row .summary .col-xs-12 {
        padding: 0;
    }

    #tabs .nav-tabs ul li.nav-item {
        font-size: 10px;
        width: 50%;
    }

    #tabs .nav-tabs .nav-ul #nav-tab1 , #tabs .nav-tabs .nav-ul #nav-tab2{
        border-bottom: 1px solid #e5e5e5;
    }

}
