

.switch {
	position: relative;	
	display: inline-block;
	width: 65px;
	height: 30px;
}

.switch input {
	display: none;
}

.switch .slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ff0101;
	transition: all .2s;
}

.switch .slider::before {
	content: " ";
	position: absolute;
	height: 30px;
	width: 30px;
	background-color: #fff;
	left: 0;
	top: 0;
	transition: all .2s;
}

.switch input:checked + .slider {
	background-color: #5eeb00;
} 

.switch input:checked + .slider::before {
	left: 35px;

}

.switch .round {
	border-radius: 30px;
}

.switch .round::before {
	border-radius: 30px;
}




.on
{
  display: none;
  left: 30%;
}

.off {
	left: 65%;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 12px;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}


/* ===================  select ==================== */

.main-content .set-content .rows .row .selection select {

  /* styling */
  background-color: white;
  border: thin solid lightgray;
  text-align: center;
  border-radius: 12px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 9.5px 3.5em 9px 10px;

  /* reset */
    width: 50%;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.main-content .set-content .rows .row .selection  .select {
	height: 40px;
    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #808080, #808080);
  background-position:
    calc(100% - 23px) calc(1em + 4px),
    calc(100% - 15px) calc(1em + 4px),
    100% 0px;
  background-size:
    9px 8px,
    8px 8px,
    3.5em 4.5em;
  background-repeat: no-repeat;
}


@media (max-width: 1200px){ 
  .main-content .set-content .rows .row .selection select {
    width: 70%;
  }
}

@media (max-width: 600px){
  .main-content .set-content .rows .row .selection select {
    width: 100%;
  }

  .main-content .set-content .rows .row .selection {
    margin-bottom: 20px;
  }
}



