
.main-content {
	padding-top: 80px;
	padding-left: 20px;

}

.main-content .title h3 {
	font-size: 25px;
}

.main-content .right-btns {
	margin-top: 70px;
}

.right-btns .col-md-6 {
	padding: 0 0px 0 5px;
}

.main-content .title {
	padding:0;
	padding-top: 5px;
	padding-left: 5px;
}

.bttn {
    width: 50%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}
.top .btn-primary:active , .top .btn-primary:focus{
	background-color: #ff0101 !important;
	color: #fff !important;
}

.tables {
	height: 600px;
	overflow: auto;
	margin-top: 50px;
	margin-right: 15px;
}


.tables .table{
	background: white;
	width: 100%;
	margin:auto;
	table-layout: fixed;
	border-radius: 15px;
	word-wrap: break-word;
	margin-bottom: 30px;
}
.tables .table thead{
    background:#808080;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.tables .table thead tr:first-child th:first-child{
    border-top-left-radius:15px;
}

.tables .table thead tr:first-child th:last-child{
    border-top-right-radius: 15px;
}

.tables .table thead th{
    height: 70px;
    width: 130px;
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    padding:8px 8px 8px 30px;
    vertical-align: middle;
}
.tables .table-responsive{
	min-height: auto;
	padding-right: 10px;
	border:0;
	overflow: visible;
}
.table-responsive thead tr{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.tables .table tbody tr{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	font-family: Lato-Bold;
	color: black;
    text-align: center;

}
.tables .table td{
	padding:20px 11px;
	vertical-align: middle;
	height: 60px;

    padding:8px 8px 8px 30px;

}
.tables .table tr{
	box-shadow: 1px 1px 10px #c4c1c1;
}
.tables .table td img{
	width: 60px;
}

div#simple-account-dropdown
{
	position: relative;
	font-size: 14px;
	color: #000;
}
div#simple-account-dropdown > .account
{
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	padding: 5px 10px;
	-webkit-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition: 0.1s ease-in;
}



div#simple-account-dropdown > .account:active
{
	
	overflow: hidden;
}
div#simple-account-dropdown2 > .account:active,
{
	
	overflow: hidden;
}

div#simple-account-dropdown > .account > span
{
	/*float: right;*/
	margin: 0 10px;
	color: white;
}
div#simple-account-dropdown2 > .account > span{
	color:black;
	font-size: 18px;

}
div#simple-account-dropdown > .account > img
{
	vertical-align: middle;
	/*float: right;*/
	border-radius: 100%;
}
div#simple-account-dropdown > .account > img.avatar{
	width:40px;
	height: 40px;
	/*margin-top:0 !important;*/
}
div#simple-account-dropdown > .dropdown
{
	position: absolute;
	width: 190px;
	top: 60px;
	left: 50%;
	margin-left: -80px;
	z-index: 109;
}
div#simple-account-dropdown > .dropdown::before
{
	content: '';
	display: block;
	position: absolute;
	border: 10px solid #25395a;
	border-left: 10px solid rgba(255, 255, 255, 0);
	border-right: 10px solid rgba(255, 255, 255, 0);
	border-top: 0px solid rgba(255, 255, 255, 0);
	top: -9px;
	margin-left: -10px;
}
div#simple-account-dropdown .fa-sort-down{
	color: white;
	font-size: 20px;
}
div#simple-account-dropdown > .dropdown::before {
	right: 45px;
}
div#simple-account-dropdown > .dropdown > ul
{
	display: block;
	margin: 0; padding: 0;
	list-style: none;
	border:2px solid #25395a;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0px 0px 5px gray; 
	overflow: hidden;
	background: white;
}
div#simple-account-dropdown > .dropdown > ul > li a i{
	padding: 5px;
	color: #000;
	font-size: 14px;
}
div#simple-account-dropdown > .dropdown > ul > li a
{
	color: #b2b2b2;
	text-align: center;
	display: block;
	padding: 10px 30px;
	font-size: 13px;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
div#simple-account-dropdown > .dropdown > ul > li a:hover
{
	margin: 0;
	padding: 10px 30px;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

div#simple-account-dropdown > .dropdown > ul > li a > img
{
	vertical-align: middle;
	margin-right: 10px;
}

div#simple-account-dropdown > .dropdown > ul > li:first-child a,
div#simple-account-dropdown2 > .dropdown > ul > li:first-child a
{
	border-top: none;
}

div#simple-account-dropdown > .dropdown > ul > li:last-child a
{
	border-bottom: none;
}


 ul#simple-account-dropdown-freebie {
   float: right;
   list-style: none;
}
ul#simple-account-dropdown-freebie > li { float: left; margin-right: 20px; margin-bottom: 20px;  padding: 10px 10px; }
ul#simple-account-dropdown-freebie > li:last-child { margin-right: 0; }
ul#simple-account-dropdown-freebie > li > span { margin-bottom: 10px; }
#gallery ul#simple-account-dropdown-freebie{
	float: right;
}


.tables div#simple-account-dropdown > .dropdown{
	width: 120px;
	right: -60%;
	top:35px;
	left:auto;
}
.tables #simple-account-dropdown > .dropdown > ul{
	border:0;
}
.tables #simple-account-dropdown > .dropdown::before{
	top:-10px;
	border: 10px solid #bfbfbf;
    border-left: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-top: 0px solid rgba(255, 255, 255, 0);
}
.tables div#simple-account-dropdown{
	color: #808080
}



.tables ul#simple-account-dropdown-freebie{
	float: left;
	padding:0 7px;
}

.tables div#simple-account-dropdown > .account {
	padding:0 !important;
}

.tables div#simple-account-dropdown > .account > i{
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px;
}

.tables ul#simple-account-dropdown-freebie > li{
	padding:7px 0 !important;
}
.tables div#simple-account-dropdown > .dropdown{
	right: -100%;
	top: 50px;
}



/* ************************ Modal ************************* */

.modal.modal-dialog {
    margin-top: 50px;
}

.modal .modal-title {
    margin-top: 10px;
}

.modal-header .close {
    margin-top: -27px;
}

.close {
	font-size: 25px;
}

.PaT {
	padding-top: 20px;
}

.modal-body , .modal-header {
	padding-left: 30px;
	padding-right: 30px; 
}

.modal-footer {
	border-top: 0;
	padding-top: 0;
}
.modal .form-control {
    border: 1px solid #eef2f3;
    border-radius: 5px;
}

.add-line {
	width: 20%;
	display: inline-block;
	padding-right: 5px;
}

.add-line label , .add-line1 label {
	font-size: 12px;
}

.add-line1 {
	width: 13%;
	display: inline-block;
}

.lines span {
	padding-left: 5px;
	font-size: 18px;
	color: #808080;
}

.lines .m-btn button{
	padding-left: 30px;
	padding-right: 30px;
}

.col-md-8 , .col-md-4 {
	padding: 0;
}

.modal .col-md-4 {
	margin: 0;
	padding-left: 10px;
}

.modal .col-md-8 {
	padding-top: 5px;
}

.modal select {
	width: 100%;
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.modal .select {
	height: 40px;
    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #808080, #808080);
  background-position:
    calc(100% - 23px) calc(.5em + 9px),
    calc(100% - 15px) calc(.5em + 9px),
    100% 0px;
  background-size:
    9px 8px,
    8px 8px,
    3.5em 4.5em;
  background-repeat: no-repeat;
}

.modal textarea {
	height: 90px !important;
}

.modal .m-btn .btn {
	padding-left: 40px;
	padding-right: 40px;
}

.modal .m-btn .btn-primary {
    margin-bottom: 10px;
    margin-top: 0;
}




@media (max-width: 768px){
	.row{
		margin-top: 30px;
	}
	a.btn {
		font-size: 12px;
	}

	.modal .row {
		margin-top: 0px;
	}
	
}

@media (max-width: 620px){

	.add-line , .add-line1  {
		width: 100%;
		display: flex;
		border-bottom: 1px solid #dadcdd;
		padding-bottom: 10px;

	}

	.add-line .form-control , .add-line1 .form-control {
		border: 1px solid #dadcdd;
		padding-left: 0;
		margin-left: 1%;

	}
	.add-line label, .add-line1 label {
	    width: 40%;
	    padding-top: 8px;
	}
	.lines span {
    	padding-left: 50%; 
	}

	.lines {
		background: #eef2f3;
	    padding: 10px;
	    border: 1px solid #dadcdd;
	    margin-bottom: 10px;
	}
	.modal .m-btn{
		margin-left: 20%;
	}
	
}

@media (max-width: 480px){
	.row{
		margin-top: 90px;
	}
	.bttn1 {
		margin-top: 10px;
	}
	a.btn {
		font-size: 14px;
	}
	.main-content .right-btns {
    	margin-top: 30px;
    	padding-left: 0;
	}
	.main-content .title {
	    padding-left: 5px;
	}
	.bttn {
    	width: 100%;
   	}
	
}
