
#detalis {
	margin-top: -80px;
}

.Paragraphs p {
	color: #000;
	font-size: 15px;
	font-weight: 500;
	text-align: justify;
}
/*.limited-items-box{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#collapes-details1{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.limited-items-box-height{
	height: 500px;
}*/
.limited-items-box-content {
	margin-top: 50px;
}

.limited-items-title h4 {
	font-size: 25px;
	font-weight: 600;
}

.limited-items-sub-title {
	margin-top: 40px;
}

.limited-items-sub-title h4{
	font-size: 23px;
	font-weight: 600px;
}

.limited-items-desc p {
	font-size: 16px;
	font-weight: 400;
}

.limited-items-icons {
	margin-top: 80px;
}

.icon{
	display: inline-block;
	width: 150px;
	height: 220px;
	margin : 20px 93px 20px 0px;
	text-align: center;
}

.icon p {
	font-size: 16px;
	font-weight: 600; 
	padding-top: 8px;
}

.align {
	vertical-align:top;
}

.Country-specific-box {
	background-color: #e6e6e6;
	border-radius: 10px;
	padding-bottom: 30px;
}

.Country-specific-box p {
	color: #000;
	font-size: 16px;
	padding: 15px 40px;
	text-align: justify;

}

#Country-specific .countrypicker , #Country-specific .countrypicker button{
	width: 100%;
	margin:0;
	height: 55px;
	border-radius: 12px;
}
#Country-specific .countrypicker button{
	background-position: 12px 19px !important;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
	max-height: 220px !important;
}
.bs-caret{
	background: #808080;
	width: 45px !important;
    height: 100%;
    display: inline-block;
    right: 0px;
    position: absolute;
    top: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
	color: white;
	right: 16px !important; 
    border-top: 10px dashed;
    border-top: 4px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}


.selection {
	width: 93%;
	margin: 0 auto;
}

#limited {
	margin-top: 50px;
}

.itme-info {
	width: 100%;
	margin: auto;
	padding: 30px 0;
}

.itme-info h3{
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 700;
}

.itme-info h3 span{
	background-color: #ff0101;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	padding: 5px 20px;
}

.toLeft {
	padding-left: 110px;
}

.toLeft1 {
	padding-left: 50px;
}

.collapes-content-box{
	background-color: #e6e6e6;
	padding-bottom: 50px;
	border-radius: 10px;
	position: relative;
	margin-bottom: 30px;
}

.collapes-content-box h3{
	font-size: 25px;
	font-weight: 500;
	padding: 10px 30px;
}

.collapes-content-box a{
	color: #000;
	font-size: 25px;
	font-weight: 500;
	padding: 10px 30px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.collapes-content-box a:hover{
	text-decoration: none;
}


.sub-details {
	background-color: #fff;
	width: 90%;
	margin:0 auto;
	padding: 20px;

}

.sub-details p{
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.sub-details h4{
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

#collapes-details1, #collapes-details4{
	position: relative;
}

#collapes-details1:after, #collapes-details4:after {
	content: '';
	position: absolute;
	top: 0;
	left: 15%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-bottom-color: #e6e6e6;
	border-top: 0;
	margin-left: -19px;
	margin-top: -19px;
}

#collapes-details2, #collapes-details5 {
	position: relative;
}

#collapes-details2:after , #collapes-details5:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-bottom-color: #e6e6e6;
	border-top: 0;
	margin-left: -19px;
	margin-top: -19px;
}

#collapes-details3 , #collapes-details6{
	position: relative;
}

#collapes-details3:after, #collapes-details6:after {
	content: '';
	position: absolute;
	top: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-bottom-color: #e6e6e6;
	border-top: 0;
	margin-left: -19px;
	margin-top: -19px;
}

































