
.main-content {
	padding-top: 150px;
	padding-bottom: 50px;
}

.row {
	margin-right: 0; 
	margin-left: 0; 
	margin-top: 10px !important;
}

.col-md-4 {
	margin: 0 !important ;
}

.setteing-top-nav .nav {
	list-style: none;
	width: 100%;
	margin: 0 auto;
}

.setteing-top-nav .nav li{
	display: inline-block;
	padding: 10px 5px;
	margin-right: 5px;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 5px #ccc;
	width: 18%;
	text-align: center;
}

.setteing-top-nav .nav li:hover{
	background-color: #ff0101;
	color: #fff;
}

.setteing-top-nav .nav li.active{
	background-color: #ff0101;
	color: #fff;
}

.set-content h2{
	margin:0;
	margin-top: 70px;
	font-size: 25px;
	font-weight: 900;
}

.set-content .rows {
	margin-top: 25px;
}

.set-content .rows .row {
	margin-top: 5px;
}

.set-content .rows .right-col a {
	color: #006cff;
	text-decoration: underline;
}

.set-content .rows .right-col {
	color: #000;
}

.set-content .rows .left-col {
	color: #808080;
}

.progress {
  overflow: visible;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #ccc;
  width: 95%
}
.progress-bar {
	background-color: #ff0101;
	position: relative;
	border-radius: 20px;
}
.progress-bar span {
	background-color: #fff;
	position: absolute;
	bottom: -45px;
	font-size: 12px;
	line-height: 10px;
	padding: 13px 13px 10px 13px;
	right: -1.4em;
	border-radius: 8px;
	color: #ff0101;
	box-shadow: 0px 3px 3px 0 rgba(204, 204, 204, 0.4);
}

.progress-bar span:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10%;
    left: 70%;
    box-sizing: border-box;
    border: 7px solid #ccc;
    border-color: #fff #fff #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 3px 0 rgba(204, 204, 204, 0.4);
}

.inner-uls .inner-ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
}

.inner-uls .inner-ul li {
	display: inline-block;
	padding: 10px 1px;
	margin-right: 5px;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
	font-size: 13px;
	width: 31%
}

.inner-uls .inner-ul2 li {
	display: inline-block;
	padding: 10px 1px;
	margin-right: 5px;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
	font-size: 13px;
	width: 31%;
}

.inner-uls .inner-ul li:hover{
	background-color: #ff0101;
	color: #fff;
}


@media (max-width: 1020px){
	.inner-uls {
		text-align: center;
	}
	.inner-uls .inner-ul li {
		width: 45% !important;
		margin-bottom: 10px;
	}

}

@media (max-width: 1110px){

	.setteing-top-nav .nav li{
		font-size: 11px;
		padding: 13px 5px;
		margin-right: 3px;
	}
}

@media (max-width: 991px){

	.setteing-top-nav .nav {
		margin-top: 50px;
	}
}

@media (max-width: 950px){

	.setteing-top-nav .nav li{
		width: 32%;
		margin-bottom: 20px;
		font-size: 13px;

	}

	.setteing-top-nav .nav {
		margin-top: 50px;
	}
	.setteing-top-nav {
		width: 100%;
		text-align: center;
		padding-right: 10%;
	}

	.inner-uls {
		text-align: center;
	}
	.inner-uls .inner-ul li {
		width: 45% !important;
		margin-bottom: 10px;
	}


}


@media (max-width: 600px){

	.progress-bar span:before, .progress-bar span:after {
    	background-color: transparent !important; 
	}
	
	.setteing-top-nav {
		padding-right: 0;
	}

	.setteing-top-nav .nav {
		margin-top: 80px;
	}
	.setteing-top-nav .nav li{
		width: 45%;
		margin-bottom: 20px;
		font-size: 13px;

	}

	.col-md-4 , .col-md-8 {
	    padding-left: 10px;
	}

	.set-content h2 {
	    margin-top: 50px;
	}

	.row {
		border-left: 5px solid #ff010196;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #ccc;
		margin-right: 10px;
		padding: 5px 0 0 0;

	}

	.bg {
		background-color: #fff;
	}

	.non {
		border:0;
		box-shadow: none;
	}

	.inner-uls .inner-ul li.width {
		width: 70% !important
	}

}





