

.tables .table tbody tr.H{
    background:#808080;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.tables .table tbody tr.H:first-child th:first-child{
    border-top-left-radius:15px;
}

.tables .table tbody tr.H:first-child th:last-child{
    border-top-right-radius: 15px;
}

.tables .table tbody tr.H th{
    height: 70px;
    width: 130px;
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    padding:8px 8px 8px 30px;
    vertical-align: middle;
}
.table-responsive tbody tr.H{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.tables .table tbody th.view-details {
    background: #cfcfcf;
    border-bottom-right-radius: 15px;
    padding: 0 !important;
}

.tables .table tbody tr.H th a{
    color: #fff;
    font-size: 16px;
    font-family: Lato-Regular;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.tables .table{
    word-wrap: normal;
}